{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="form-header-container">
    <h1>Login</h1>
</div>
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="id_username" class="form-label">Task Description</label>
        <input type=text class="form-control" id="id_username" name="username" placeholder="Task Description"
            rows="3"></input>
    </div>
    <div class="mb-3">
        <label for="id_password1" class="form-label">Task Description</label>
        <input type=text class="form-control" id="id_password1" name="password1" placeholder="Enter Your Password"
            rows="3"></input>
    </div>
    <button type="submit" class="btn btn-primary">Update Task</button>
</form>

{% endblock content %}