{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="form-header-container">
    <h1>Login</h1>
</div>
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="id_username" class="form-label">Username</label>
        <input type=text class="form-control" id="id_username" name="username" placeholder="Username" rows="3"></input>
    </div>
    <div class="mb-3">
        <label for="id_password" class="form-label">Task Description</label>
        <input type=password class="form-control" id="id_password" name="password"
            placeholder="Enter Your Password"></input></div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>

{% endblock content %}