{% extends "base.html" %}
{% load static }

{% block content %}
<style>
    .errorlist {
        color: var(--secondary-text-color);
        font-weight: bold;
        letter-spacing: 1.5px;
    }
</style>

{% if form.errors %}
<div class="alert alert-danger fade show" role="alert">
    <p> There was error in your sign up, please try again!</p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
<div class="form-header-container">
    <h1>Sign Up</h1>
</div>
<form method="POST" action="{% url 'register_user' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Sign Up</button>
</form>

{% endblock content %}