* {
    margin: 0;
    padding: 0;
    border: none;
}

:root {
    /* Color Pallete */
    --primary-text-color: #004080;
    --secondary-text-color: #1a1a1a;
    --accent-color-1: #fa7a02;
    --accent-color-2: #008080;
    --background-color: #f5f5f5;
    --border-color: #dcdcdc;
    --link-color: #0066cc;

    /* Fonts */
    --ff-title: 'Oswald', sans-serif;
    --ff-body: 'Roboto', sans-serif;
}

.darkmode {
    /* Dark mode color pallete */
    --primary-text-color: #ffffff;
    --secondary-text-color: #cccccc;
    --accent-color-1: #ff5e00;
    --accent-color-2: #3399ff;
    --background-color: #2a2a2a;
    --border-color: #444444;
    --link-color: #66ffcc;
}

/* ----- General Styling ----- */

body {
    background-color: var(--background-color);
    min-height: 100vh;
}

/* ----- Navigation Styling ----- */

.navbar {
    margin: 0 2rem;
}

.navbar-brand {
    font-family: var(--ff-title);
}

.navbar-collapse {
    flex-grow: 0;
}

.nav-link,
.navbar-brand {
    color: var(--primary-text-color);
    letter-spacing: 1.5px;
}

.nav-link {
    font-family: var(--ff-body);
    color: var(--link-color);
}

.nav-link:hover {
    color: var(--accent-color-1);
}

/* --- Hamburger Menu --- */
.hamburger-span {
    display: block;
    width: 20px;
    height: 3px;
    background-color: var(--primary-text-color);
    margin-bottom: 5px;
}

.hamburger-span:nth-child(1) {
    width: 30px;
}

.hamburger-span:nth-child(2) {
    width: 25px;
}

.hamburger-span:nth-child(3) {
    width: 20px;
}

.navbar-toggler {
    border: none;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar-toggler:focus {
    box-shadow: none;
}

/* --- Theme change button --- */
#theme-tooltip {
    background: var(--background-color);
    border: 1px solid var(--border-color);
    color: var(--primary-text-color);
}

/* --- Button icon --- */
.theme-toggle {
    transition: all 0.3s ease-in-out;
}

.theme-toggle.rotate-icon {
    transform: rotate(360deg);
}

/* ----- Hero Text Container ----- */

.hero-content {
    width: 80vw;
    height: 75vh;
    margin: 0 auto;
}

.hero-text-header h1 {
    font-family: var(--ff-title);
    color: var(--primary-text-color);
}

.hero-text-description {
    font-family: var(--ff-body);
    color: var(--secondary-text-color);
    text-transform: capitalize;
}

.hero-button {
    padding: 0.5rem 1rem;
    background-color: var(--accent-color-1);
    border: 1px solid var(--border-color);
    color: var(--secondary-text-color);
    border-radius: 10px;
    text-transform: uppercase;
    font-family: var(--ff-body);
}