* {
    margin: 0;
    padding: 0;
    border: none;
}

:root {
    /* Color Pallete */
    --primary-text-color: #004080;
    --secondary-text-color: #1a1a1a;
    --accent-color-1: #0066cc;
    --accent-color-2: #008080;
    --background-color: #f5f5f5;
    --border-color: #dcdcdc;
    --link-color: #0066cc;

    /* Fonts */
    --ff-title: 'Oswald', sans-serif;
    --ff-body: 'Roboto', sans-serif;
}

.darkmode {
    /* Dark mode color pallete */
    --primary-text-color: #ffffff;
    --secondary-text-color: #cccccc;
    --accent-color-1: #3399ff;
    --accent-color-2: #66ffcc;
    --background-color: #2a2a2a;
    --border-color: #444444;
    --link-color: #66ffcc;
}

/* ----- General Styling ----- */

body {
    background-color: var(--background-color);
    min-height: 100vh;
}

/* ----- Navigation Styling ----- */

.navbar {
    margin: 0 2rem;
}

.navbar-brand {
    font-family: var(--ff-title);
}

.navbar-collapse {
    flex-grow: 0;
}

.nav-link,
.navbar-brand {
    color: var(--primary-text-color);
    letter-spacing: 1.5px;
}

.nav-link {
    font-family: var(--ff-body);
}

/* button */
#theme-tooltip {
    background: var(--background-color);
    border: 1px solid var(--border-color);
    color: var(--primary-text-color);
}