{% extends "base.html" %}
{% load static %}

{% block content %}
<form method="post" action="{% url 'add_task' %}">
    {% csrf_token %}
    <div class="mb-3">
        <label for="task_title" class="form-label">Task Title</label>
        <input type="text" class="form-control" id="task_title" placeholder="Task Title" name="title">
    </div>
    <div class="mb-3">
        <label for="task_description" class="form-label">Task Description</label>
        <textarea class="form-control" id="task_description" name="description" rows="3"></textarea>
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="task_urgent" name="urgent" value="on">
        <label class="form-check-label" for="task_urgent">Is this task urgent?</label>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock content %}