{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Hero Section non authenticated users -->
<div class="hero-content">
    <div class="hero-text-container">
        <div class="hero-text-header">
            <h1>Welcome To Task Pro</h1>
        </div>
        <div class="hero-text-description">
            <h3>Log and track your tasks</h3>
            <button type="button" class="hero-button">Sign In</button>
            <button type="button" class="hero-button">Sign Up</button>
        </div>
    </div>
    <div class="hero-svg-wrapper">
        <div class="hero-svg">
            <img src="{% static 'svg/task-pro-hero.svg' %}" alt="">
        </div>
    </div>
</div>
<!-- Tabbed -->
<section class="tabbed-interface">
    <!-- Add Task Button -->
    <button type="button" class="add-task" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Add A
        New Task <i class="fa-solid fa-circle-plus"></i></button>
    <!-- Add Task Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Create A New Task</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Add Task Form  -->
                    <form method="post" action="">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="task_title" class="form-label">Task Title</label>
                            <input type="text" class="form-control" id="task_title" placeholder="Task Title"
                                name="title">
                        </div>
                        <div class="mb-3">
                            <label for="task_description" class="form-label">Task Description</label>
                            <textarea class="form-control" id="task_description" name="description" rows="3"></textarea>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="urgent" id="task_urgent">
                            <label class="form-check-label" for="task_urgent">
                                Is this task urgent?
                            </label>
                        </div>
                    </form>
                    <!-- End Of Add Task Form -->
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Of Add Task Modal -->
    <div class="categorgy-headers">
        <h4 class="task-categories">All</h4>
        <h4 class="task-categories">Urgent</h4>
        <h4 class="task-categories">Completed</h4>
        <div class="line"></div>
    </div>
    <div class="task-content-box">
        <div class="content">
            <div class="category-heading">
                <h5>All Tasks</h5>
            </div>
            {% for task in object_list %}
            <h6>
                {{ task.title}}
            </h6>
            <p>{{ task.description }}</p>
            {% endfor %}
        </div>
    </div>
    <div class="task-content-box">
        <div class="content">
            <h5>Urgent Tasks</h5>
            <p>
                Task description
            </p>
        </div>
    </div>
    <div class="task-content-box">
        <div class="content">
            <h5>Completed Tasks</h5>
            <p>
                Task description
            </p>
        </div>
    </div>
</section>
{% endblock content %}