{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Hero Section non authenticated users -->
<div class="hero-content">
    <div class="hero-text-container">
        <div class="hero-text-header">
            <h1>Welcome To Task Pro</h1>
        </div>
        <div class="hero-text-description">
            <h3>Log and track your tasks</h3>
            <a href=" {% url 'login' %}">
                <button type="button" class="hero-button">Sign In</button>
            </a>
            <button type="button" class="hero-button">Sign Up</button>
        </div>
    </div>
    <div class="hero-svg-wrapper">
        <div class="hero-svg">
            <img src="{% static 'svg/task-pro-hero.svg' %}" alt="">
        </div>
    </div>
</div>
</section>
{% endblock content %}