{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Hero Section non authenticated users -->
<div class="hero-content">
    <div class="hero-text-container">
        <div class="hero-text-header">
            <h1>Welcome To Task Pro</h1>
        </div>
        <div class="hero-text-description">
            <h3>Log and track your tasks</h3>
            <button type="button" class="hero-button">Sign In</button>
            <button type="button" class="hero-button">Sign Up</button>
        </div>
    </div>
    <div class="hero-svg-wrapper">
        <div class="hero-svg">
            <img src="{% static 'svg/task-pro-hero.svg' %}" alt="">
        </div>
    </div>
</div>
<!-- Tabbed -->
<section class="tabbed-interface">
    <div class="categorgy-headers">
        <h4 class="task-categories">All</h4>
        <h4 class="task-categories">Urgent</h4>
        <h4 class="task-categories">Completed</h4>
    </div>
    <div class="task-content-box">
        <div class="content">
            <h5>All Tasks</h5>
            <p>
                Task description
            </p>
        </div>
    </div>
    <div class="task-content-box">
        <div class="content">
            <h5>Urgent Tasks</h5>
            <p>
                Task description
            </p>
        </div>
    </div>
    <div class="task-content-box">
        <div class="content">
            <h5>Completed Tasks</h5>
            <p>
                Task description
            </p>
        </div>
    </div>
</section>
{% endblock content %}