{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="form-header-container">
    <h1>Edit: {{ task.title }}</h1>
</div>
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="task_title" class="form-label">Task Title</label>
        <input type="text" required class="form-control" id="task_title" placeholder="Task Title" name="title">
    </div>
    <div class="mb-3">
        <label for="task_description" class="form-label">Task Description</label>
        <textarea class="form-control" id="task_description" name="description" placeholder="Task Description"
            rows="3"></textarea>
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="task_urgent" name="urgent" value="on">
        <label class="form-check-label urgent-label" for="task_urgent" class="">Is this task urgent?</label>
    </div>
    <button type="submit" class="btn btn-primary">Update Task</button>
</form>

{% endblock content %}